<section class="banner2"></section>

<footer class="p-5 container-fluid bg-dark text-white fw-bold">
    <div class="row">
        <div class="col-12 col-md-6 text-end">
            <h1>Hotel Tomaratsu</h1>
            <h3>Japon</h3>
            <h3>Hi | Hi | Hi</h3>
        </div>

        <div class="col-12 col-md-3 border-start align-self-center">
            <h3>Solo te dire que es el mejor hotel que encontraras</h3>
            <div class="zoom">
                <a href="">
                    <i class="bi bi-instagram fs-1 text-white me-2"></i>
                </a>
                <a href="">
                    <i class="bi bi-facebook fs-1 text-white me-2"></i>
                </a>
                <a href="">
                    <i class="bi bi-tiktok fs-1 text-white me-2"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
